*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        45deg,
        rgb(182,182,247),
        rgb(141,252,141),
        rgb(255,234,196)
    );

    background-size: 400% 400%;
    animation: bgAnimate 10s linear infinite;
    
}

#loader{
    position: fixed;
    inset: 0;
    /* background: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.sidebar{
    width: 200px;
    padding:20px;
    height: 100%;
    background: rgba(0,0,0,0.7);
    color:rgb(255, 255, 255);
    position: relative;
    animation: slideMenu 1s forwards;

}

.sidebar h2{
    margin-bottom: 20px;
}

.sidebar p{
    margin: 15px 0;
   
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.weather-card{
    width:320px;
    padding: 25px;
    text-align: center;
    border-radius: 20px;
    background: white;
}

.temp{
    margin: 15px 0;
    animation: colorChange 3s  infinite;
}

input{
    width: 100%;
    padding: 10px;
    margin: 15px ;
    border-radius: 5px;
}

button{
    margin: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background:blue;
    color: white;
    cursor: pointer;
    animation: pulse 1.5 infinite;
}







